:root {
    --primary: #faca78 !important;
    --secondary: #794a3a !important;
    --tertiary: #68c7c1 !important;
}

.navbar {
    background-color: var(--secondary);
    font-family: "Righteous";
    font-size: 2em;
}

.navbar-brand {
    color: var(--primary);
    font-weight: bold;
    font-size: 1em;
    margin: 1em;
}

.nav-link {
    color: var(--primary);
}

.poster-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: var(--secondary);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.poster {
    margin: -22px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: ease 0.6s;
}

.poster:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 768px) {
    .poster-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

/* 
.poster-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--primary);
}

img{
    max-width: 400px;
    max-height: 500px;
}

.poster {
    margin: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: ease 0.6s;
}

.poster:hover {
    transform: scale(1.02);
}

@media screen and (min-width:750px){
    img {
            max-width: 400px;
            max-height: 500px;
        }
}

@media screen and (max-width:749px) {
    img {
        max-width: 300px;
        max-height: 400px;
    }
} */
