:root {
    --primary: #faca78;
    --secondary: #794a3a;
    --tertiary: #68c7c1;
}

.navbar {
    background-color: var(--secondary);
    font-family: "Righteous";
    font-size: 2em;
}

.navbar-brand {
    color: var(--primary);
    font-weight: bold;
    font-size: 1em;
    margin: 1em;
}

.nav-link {
    color: var(--primary);
}

main {
    height: auto;
    width: 100%;
    display: flex;
}

.container-fluid {
    background-image: url(../images/vhs-bg.jpg);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "Righteous";
}

.box-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.box-2 {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
}

.box-3 {
    grid-column: 5 / 8;
    grid-row: 3 / 4;
}