:root {
    --primary: #faca78;
    --secondary: #794a3a;
    --tertiary: #68c7c1;
}

.navbar {
    background-color: var(--secondary);
    font-family: "Righteous";
    font-size: 2em;
}

.navbar-brand {
    color: var(--primary);
    font-weight: bold;
    font-size: 1em;
    margin: 1em;
}

.nav-link {
    color: var(--primary);
}

main {
    height: 55vh;
    width: 100%;
    /* display: flex; */
}

.headline-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding: 5%;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-image: url(../images/vhs-bg.jpg);
    background-position: center;
}

.bg-container {
    background-color: white;
    width: 100%;
    align-items: center;
    height: 90%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 2.5em;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "Righteous";
    height: 100px;
    margin: 15px;
    color:#faca78;
    font-size: 4rem;
}

.events-container {
    background-image: url(../svgs/Retro\ Ribbon\ 3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}