:root {
    --primary: #faca78 !important;
    --secondary: #794a3a !important;
    --tertiary: #e6d9a7 !important;
}

.dark-mode {
    --primary: #794a3a !important;
    --secondary: #faca78 !important;
    --tertiary: #e6d9a7 !important;
}

.navbar {
    background-color: var(--primary);
    font-family: "Righteous";
    font-size: 2em;
}

.navbar button{
    background-color: var(--primary);
    color: var(--secondary);
}

.navbar button:hover{
    background-color: var(--secondary);
    color: var(--primary);
}

#toggleModeButton{
    font-size: 1.2rem;
}

.navbar-brand {
    color: var(--secondary);
    font-weight: bold;
    font-size: 1em;
    margin: 1em;
}

.nav-link {
    color: var(--secondary);
    margin-right: 20px;
}

.poster-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    background-color: var(--secondary);
}

img {
    max-width: 100%;
    max-height: 96%;
}

.poster {
    margin: -22px;
    transition: ease 0.6s;
}

.poster:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 768px) {
    .poster-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-color 0.5s ease;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: var(--primary);
    background-image: url(../svgs/Retro\ Ribbon\ 3.svg);
    background-size: cover;
    height: 60em;
    padding: 5%;
    align-content: center;
}

.carousel {
    width: 100%;
    height: 65vh;
    background-color: var(--secondary);
    color: var(--primary);
    align-content: center;
    border-radius: 0.7rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.75);
}

.carousel-text {
    text-align: center;
    font-family: "Righteous";
}

/* .stripes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(-45deg, var(--primary), var(--primary) 30px, #f57f5b 30px, #f57f5b 40px, var(--tertiary) 50px, var(--tertiary) 50px);
} */

#loginForm {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid var(--tertiary);
    border-radius: 3px;
}

#loginButton button {
    padding: 8px 16px;
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#loginButton button:hover {
    background-color: var(--primary);
    color: var(--secondary);
}


.login-container {
    position: relative;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

p {
    padding-left: 20%;
    padding-right: 20%;
    font-size: 2rem;
}

.table-1-container,
.table-2-container,
.form-container {
    position: relative;
    overflow: hidden;
    height: fit-content;
    padding: 5%;
    align-content: center;
    justify-content: center;
    background-color: var(--primary);
}


.table-2-container {
    background-image: url(../svgs/Retro\ Ribbon\ 1.svg);
    background-size: cover;
    background-color: var(--primary);
}

#best-ratings-container th {
    font-size: larger;
}

#best-ratings-container h3 {
    color: var(--secondary);
    padding-bottom: 3.5vh;
}

#birth-year-table table {
    height: 20vh;
    width: 100%;
    font-size: 1.5rem;
    margin: 0 auto;
}


#birth-year-table tr:nth-child(even) {
    background-color: var(--tertiary);
    color: var(--secondary);
    font-size: larger;
}


#birth-year-table h3 {
    padding-bottom: 3.5vh;
    color: var(--secondary);
    text-shadow: -1px -1px 0 var(--primary),
            1px -1px 0 var(--primary),
            -1px 1px 0 var(--primary),
            1px 1px 0 var(--primary);
}


h3 {
    font-family: "Righteous";
    text-align: center;
    color: var(--secondary);
    font-size: 3rem;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Righteous";
    /* background-color: #f3e9d2; */
    border: 4px solid var(--secondary);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    font-size: large;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: #794a3a;
}

tr:nth-child(even) {
    background-color: #efe0b6;
    transition: background-color 0.3s ease;
}

tr:nth-child(odd) {
    background-color: #f9f3e4;
    color: #794a3a;
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: var(--tertiary);
}

th {
    background-color: #cc9966;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}


.video-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
}


@media (min-width: 576px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}


.form-container h4 {
    font-family: "Righteous";
    margin: 10px;
    color: var(--secondary);
}

.form-container {
    margin-bottom: 100px;
    height: 90vh;
    font-size: 1.5em;
    font-family: "Righteous";
    color: var(--secondary);
}

button {
    background-color: var(--tertiary);
    border-color: var(--secondary);
    border-width: 3px;
    border-radius: 0.2em;
    color: #794a3a;
    transition: background-color 0.3s ease;
    font-family: "Righteous";
}

button:hover {
    background-color: var(--secondary);
    color: var(--primary);
}


/* animation on buttons */

@keyframes submitAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.submit-animation {
    animation: submitAnimation 0.5s ease-in-out;
}


/* modal styling */

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

#openModalButton{
    font-size: 1.5rem;
    translate: 60px;
}

.modal-content {
    background-color: var(--tertiary);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 6px dashed var(--secondary);
    width: 80%;
    max-width: 100vh;
    font-family: "Righteous";
    text-align: center;
    color: #794a3a;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#openModalButton{
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
